h2{
    background-color: blueviolet;
    text-align: center;
    color: burlywood;
    /* Text allign property also work with widget width */
    width: 500px;
}

/* Now lest try with inline element */

a{
    display: inline-block;
    width: 500px;
    background-color: chocolate;
    color: cornsilk;
    /* It does'nt work until we we canged it into the inline block element */
    text-align: center;
}