/* There are two type of color we can use hex color code and rgb(red, gree, blue) */
/* * color range 0 - 255 in rgb */ 
/* color range in hex code (0 - 9, a - f) */
/* 0, 1,2,3,4,5,6,7,8,9 - a, b, c, d, e, f */

/* f -> 255 */
/* a -> half */
/* 0 -> 000 */

h1{
    background-color: #bdc5d6;
    color: rgb(40, 35, 48);
    font-family: Arial, Helvetica, sans-serif;
    width: 4.5cm;
}