body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: lightgray;
    width: 900px;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
    padding: 5px 10px;
}

/* section.article-1{
    border: 2px gray solid;
    padding: 5px;
    margin: 50px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 905px;
} */

/* section.article-2{
    border: 2px grey solid;
    width: 905px;
    margin: 10px auto;
    padding: 5px;
} */


/* Short Hand */
section{
    border: 2px gray solid;
    padding: 5px;
    margin: 50px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 905px;
}