*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #444;   
    color: white;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 64px 1fr 64px;
    height: 100vh;
    gap: 10px;

    /* Now here we will see the grid template area. this is another good option fro aligning the items in the best way */
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"
    ;
}

header{
    grid-area: "header";
}

main{
    grid-area: "main";
}

aside{
    grid-area: "aside";
}

footer{
    grid-area: "footer";
}


body > *{
    border: 2px solid #bbb;
    padding: 1rem;
}

header, footer{
    grid-column: 1 / -1;
}

@media (max-width:500px){
    body{
        grid-template-columns: 1fr;
        /* grid-template-rows: 64px 1fr 1fr 64px; */
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }
}