@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 20px 50px;
}

header, nav{
    background-color: lightgray;
    text-align: center;
    color: lightslategray;
    padding: 2px 0px;
    margin: auto auto;
}

ul li{
    padding: 5px 15px;
    display: inline-block;
    font-size: 30px;
    color: #444;
}